body {
  font-size: 10px;
  background: rgb(149, 194, 215)
}

.logo-text {
  background: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 37px;
}

a {
  text-decoration: none;
}

.thumbnail-title {
  display: block;
  margin: 0;
  padding: 4px 10px;
  font-size: 18px;
  background: rgb(96, 125, 139);
  color: rgb(202, 238, 255);
}

.thumbnail-image {
  display: block;
  width: 100%;
}

.thumbnail-item {
  display: inline-block;
  width: 120px;
  border: 1px solid rgb(100%, 100%, 100%);
  border: 1px solid rgba(100%, 100%, 100%, 0.8);
}

.thumbnail-list {
  list-style: none;
  padding: 0;

  white-space: nowrap;
  overflow-x: auto;
}

.thumbnail-item + .thumbnail-item {
  margin-top: 10px;
}

.detail-image {
  width: 90%;
}