html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  background: rgb(149, 194, 215)
}

.logo-text {
  background: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 37px;
}

a {
  text-decoration: none;
}

.main-header{
  flex: 0 1 auto;
}

.main-content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.thumbnail-title {
  display: block;
  margin: 0;
  padding: 4px 10px;
  font-size: 18px;
  background: rgb(96, 125, 139);
  color: rgb(202, 238, 255);
}

.thumbnail-image {
  display: block;
  width: 100%;
}

.thumbnail-item {
  display: inline-block;
  min-width: 120px;
  max-width: 120px;
  border: 1px solid rgb(100%, 100%, 100%);
  border: 1px solid rgba(100%, 100%, 100%, 0.8);
}


.detail-image-container {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-image-frame {
  text-align: center;
}

.thumbnail-list {
  flex: 0 1 auto;
  order: 2;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;

  white-space: nowrap;
  overflow-x: auto;
}

.detail-image {
  width: 90%;
}