<% include layout %>

  <header>
    <h1>Ottergram</h1>
  </header>
  <ul>
    <li>
      <a href="">
        <img src="/images/otter1.jpg">
        <span>Barry</span>
      </a>
    </li>
    <li>
      <a href="">
        <img src="/images/otter2.jpg">
        <span>Robin</span>
      </a>
    </li>
    <li>
      <a href="">
      <img src="/images/otter3.jpg">
      <span>Maurice</span>
      </a>
    </li>
    <li>
      <a href="">
      <img src="/images/otter4.jpg">
      <span>Lesley</span>
      </a>
    </li>
    <li>
      <a href="">
      <img src="/images/otter5.jpg">
      <span>Barbara</span>
      </a>
    </li>
  </ul>

