<% include layout %>
<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">

  <header class="main-header">
    <h1 class="logo-text">Ottergram</h1>
  </header>

  <main class="main-content">

    <ul class="thumbnail-list">
      <li class="thumbnail-item">
        <a href="/images/otter1.jpg" data-image-role="trigger"
                                      data-image-title="Stayin Alive"
                                      data-image-url="/images/otter1.jpg">
          <img class="thumbnail-image" src="/images/otter1.jpg">
          <span class="thumbnail-title">Barry</span>
        </a>
      </li>
      <li class="thumbnail-item">
        <a href="/images/otter2.jpg" data-image-role="trigger"
                                      data-image-title="How Deep is your love?"
                                      data-image-url="/images/otter2.jpg">>
          <img class="thumbnail-image" src="/images/otter2.jpg">
          <span class="thumbnail-title">Robin</span>
        </a>
      </li>
      <li class="thumbnail-item">
        <a href="/images/otter3.jpg" data-image-role="trigger"
                                      data-image-title="You Should be dancing!"
                                      data-image-url="/images/otter3.jpg">>
        <img class="thumbnail-image" src="/images/otter3.jpg">
        <span class="thumbnail-title">Maurice</span>
        </a>
      </li>
      <li class="thumbnail-item">
        <a href="/images/otter4.jpg" data-image-role="trigger"
                                      data-image-title="Night Fever"
                                      data-image-url="/images/otter4.jpg">>
        <img class="thumbnail-image" src="/images/otter4.jpg">
        <span class="thumbnail-title">Lesley</span>
        </a>
      </li>
      <li class="thumbnail-item">
        <a href="/images/otter5.jpg" data-image-role="trigger"
                                      data-image-title="To love somebody"
                                      data-image-url="/images/otter5.jpg">>
        <img class="thumbnail-image" src="/images/otter5.jpg" >
        <span class="thumbnail-title">Barbara</span>
        </a>
      </li>
    </ul>

    <div class="detail-image-container">
      <div class="detail-image-frame">
        <img class="detail-image" data-image-role="target" src="/images/otter1.jpg" alt="">
        <span class="detail-image-title" data-image-role="title">Stayin' Alive</span>
      </div>
    </div>  

  </main>
<script src="/javascripts/otter.js" type="text/javascript"></script>
